<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout X - Free</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ name }}</h1>
        <button onclick="location.href='/free_workouts'" class="sleek-btn">Free Workouts</button>
        <button onclick="location.href='/subscribe'" class="sleek-btn">Upgrade to Premium</button>
        <button onclick="location.href='/'" class="sleek-btn">Go Back</button>
    </div>
</body>
</html>