<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Workout X</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Your Profile, {{ name }}</h1>
        <p><b>Subscription:</b> {{ subscription }}</p>
        <p><b>Email:</b> {{ email }}</p>
        {% if subscription == 'free' %}
            <button onclick="location.href='/subscribe'" class="sleek-btn">Upgrade to Premium</button>
        {% endif %}
        <button onclick="location.href='/premium_dashboard'" class="sleek-btn">Dashboard</button>
        <button onclick="location.href='/nutrition'" class="sleek-btn">Nutrition</button>
        <button onclick="location.href='/'" class="sleek-btn">Go Back</button>
    </div>
</body>
</html>