<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Workouts</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class="sidebar">
		<button class="menu-btn">☰ Menu</button>
		<div class="dropdown-content">
			{% if session['username'] == 'admin' %}
			<a href="/admin">Admin Dashboard</a>
			{% endif %}
			<a href="/profile">Profile</a>
			<a href="/user_chat">Messages</a>
			<a href="/premium_dashboard">Premium Dashboard</a>
			            <a href="/feed">Social</a>
			<a href="/nutrition">Nutrition</a>
			<a href="/blood_test_analysis">Blood Test Analysis</a>
			<a href="/chat">Chat with Grok</a>
			<a href="/health_news">Health News</a>
			<a href="/subscribe">Subscribe</a>
			<a href="/logout">Logout</a>
		</div>
	</div>
	<div class="container">
		<h1>Workouts</h1>
		<button onclick="location.href='/dashboard'" class="go-back-btn"></button>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>